<form action="/" method="post">

<div class="form-row contain">
    <div class="col-sm-10 my-1 containe">
        <label for="name" class="tache">Nouvelle tache :</label>
        <input type="text" name="name" id="name" class="form-control custom-width" placeholder="Ajouter une tache" />
        <textarea name="description" id="description" class="form-control custom-width-desc" placeholder="Ajouter une description"></textarea>
    </div>
    <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary add">Ajouter</button>
    </div>
</div>

</form>