{% extends 'base.html' %}


{% block content %}
<form action="/update/{{task.id}}" method="post">

    <div class="form-row">
        <div class="col-sm-10 my-1 containe">
            <label for="name" class="tache">Mise a jour d'une tache :</label>
            <input type="text" name="name" id="name" class="form-control custom-width" placeholder="Ajouter une tache" value="{{ task.name }}"/>
            <textarea name="description" id="description" class="form-control custom-width-desc" placeholder="Ajuster la description" value="{{ task.description }}"></textarea>
        </div>
        <div class="col-sm-2 my-1">
            <button type="submit" class="btn btn-primary add">Modifier</button>
        </div>
    </div>

</form>
{% endblock content %}